<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/shiori.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="canonical" href="https://www.hobbymining.com/ethereum-mining-hardware/">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>7 Best Ethereum Mining Hardware ASICs 2016 (Comparison)</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Additions to <head> tags go here. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73306004-1', 'auto');
  ga('send', 'pageview');

</script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<style type="text/css">
	    
	    @font-face {
  font-family: 'Proxima';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/proximanova-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-light-webfont.woff2") format("woff2"), url("/fonts/proximanova-light-webfont.woff") format("woff"), url("/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/fonts/proximanova-light-webfont.svg#svgproximanova-light-webfont") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/proximanova-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("/fonts/proximanova-regular-webfont.woff") format("woff"), url("/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("/fonts/proximanova-regular-webfont.svg#svgproximanova-regular-webfont") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/proximanova-semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-semibold-webfont.woff") format("woff"), url("/fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("/fonts/proximanova-semibold-webfont.svg#svgproximanova-semibold-webfont") format("svg"); }

</style>
  </head>
  <body>
  
  
    <div class="navbar navbar-inverse navbar-static-top">
  
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-toggle-wrapper visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a href="/" class="navbar-brand">Hobby Mining</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="navbar-nav nav" data-purplecoat="shiori" data-purplecoat-label="nav.html">
            <li><a href="/mining-hardware/">Hardware</a></li>
<li><a href="/bitcoin-mining-pools/">Pools</a></li>
<li><a href="/usb-bitcoin-miners/">USB</a></li>
<li><a href="/mining-profitability/">Profitability</a></li>
<li><a href="/bitcoin-cloud-mining/">Cloud Mining</a></li>
<li><a href="/bitcoin-mining-software/">Software</a></li>
          </ul>
          <ul class="navbar-nav nav navbar-right" data-purplecoat="shiori" data-purplecoat-label="nav-right.html">
            
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
          <div class="col-sm-12">
            <div class="post-header">
  <h1 class="post-title-main">Ethereum Mining Hardware</h1>
</div>
<div class="post-content">
  <p>Do you want to mine Ethereum? Using an efficient Ethereum mining hardware will significantly reduce your electricity bills and cut down your costs. This article will help you learn more about the best Ethereum mining hardware.</p>

<h2 id="what-is-a-gpu-ethereum-miner">What is a GPU Ethereum Miner?</h2>

<p>In order to mine Ethereum, you will need specialized hardware known as <a href="https://en.wikipedia.org/wiki/Graphics_processing_unit">graphics processing unit</a> (GPU). Ethereum’s developers originally intended for it to be mined on computer CPUs but miners later discovered that GPUs gave them more hashing power.</p>

<p>So, in the most simplest of terms: a GPU is a specialized Ethereum mining computer.</p>

<h2 id="how-can-you-find-the-best-gpu-and-rig">How can you find the best GPU and rig?</h2>

<p>Some GPUs have a higher hash rate than others, while some use more electric power as well. In choosing the most efficient GPU the most important thing is striking a balance between how powerful you want your rig to be and how much you are willing to spend on the GPU itself and the electricity.</p>

<p>Many of these costs will vary by country. Is it cheap to buy GPUs in your country? Since most GPUs are sold on Amazon and eBay, if you live in a country where those retailers ship to then you will likely have an easier time getting the GPUs.</p>

<p>Also, what is the cost of electricity in your country? Electricity costs are the deciding for most miners. Miners in China, Iceland, and other places with cheap electricity have a huge advantage!</p>

<h2 id="most-efficient-gpus-on-sale">Most efficient GPUs on sale</h2>

<p>Now that you understand the factors that make GPU rigs good, here is a list and brief description of the most efficient GPUs on sale.</p>

<p>Note that the power costs per day numbers used below were based on the global average cost of electricity and the price of <a href="http://coincenter.org/entry/what-is-ethereum">Ether</a> on September 16, 2016. For more accurate estimates, use an <a href="https://badmofo.github.io/ethereum-mining-calculator/">Ethereum mining calculator and plug in your own numbers</a>.</p>

<h2 id="radeon-r9-295x2">Radeon R9 295X2</h2>

<p>The <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&amp;pub=5574973039&amp;toolid=10001&amp;campid=5337960612&amp;customid=&amp;icep_uq=Radeon+R9+295X2&amp;icep_sellerId=&amp;icep_ex_kw=&amp;icep_sortBy=12&amp;icep_catId=&amp;icep_minPrice=&amp;icep_maxPrice=&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg" rel="nofollow" target="_blank">Radeon R9 295X2</a> has by far the highest hash rate (46.0 MH/s) of the Ethereum GPUs on the market and will cost you $600. It has a power cost per day of about $1.44, a return per day of about $1.61 and a cost per MH/s of $13.04. This gives a return per year of $586.43.</p>

<h2 id="radeon-r9-hd-7990">Radeon R9 HD 7990</h2>

<p>A <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&amp;pub=5574973039&amp;toolid=10001&amp;campid=5337960612&amp;customid=&amp;icep_uq=Radeon+R9+HD+7990&amp;icep_sellerId=&amp;icep_ex_kw=&amp;icep_sortBy=12&amp;icep_catId=&amp;icep_minPrice=&amp;icep_maxPrice=&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg" rel="nofollow" target="_blank">Radeon R9 HD 7990</a> will cost you $680. Its power cost per day is lower than the R9 295X2 at $1.08 but its hash rate is significantly lower at 36 MH/s. Its return per day is $1.29 while its cost per MH/s is $18.89, giving it a return per year of $469.40.</p>

<h2 id="radeon-rx-480">Radeon RX 480</h2>

<p>The <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&amp;pub=5574973039&amp;toolid=10001&amp;campid=5337960612&amp;customid=&amp;icep_uq=Radeon+RX+480&amp;icep_sellerId=&amp;icep_ex_kw=&amp;icep_sortBy=12&amp;icep_catId=&amp;icep_minPrice=&amp;icep_maxPrice=&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg" rel="nofollow" target="_blank">Radeon RX 480</a> is most arguably the most economical in terms of cost and saving electricity. Its power cost per day is significantly lower than the two that I have mentioned at $0.4320. Its hash rate is 25.0 MH/s, meaning its cost per MH/s is $7.96. This gives a return per day of $1.21 and therefore a return per year of $440.91. Radeon RX 480 will cost you $199.</p>

<h2 id="radeon-rx-470">Radeon RX 470</h2>

<p>A <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&amp;pub=5574973039&amp;toolid=10001&amp;campid=5337960612&amp;customid=&amp;icep_uq=Radeon+RX+470&amp;icep_sellerId=&amp;icep_ex_kw=&amp;icep_sortBy=12&amp;icep_catId=&amp;icep_minPrice=&amp;icep_maxPrice=&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg" rel="nofollow" target="_blank">Radeon RX 470</a> has a modest hash rate of 24.0MH/s. Its power cost per day is exactly the same as the Radeon RX 480 at $0.4320. Its cost per MH/s is $9.13, giving it a return per day of $1.15 and a return per year of $418.16. Radeon RX 470 will cost you $219.</p>

</div>

          </div>
        
      </div>
      <div class="row footer">
        <div class="col-sm-12 text-center">
          <a href="/contact/">Contact</a>
&nbsp; &nbsp;
<a href="/disclaimer/">Disclaimer</a>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/purplecoat-min.js"></script>
    <!-- Place your <script> tags here. -->

<!-- Example: Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </body>
</html>
