<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/shiori.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="canonical" href="https://www.hobbymining.com/bitmain-antminer-s5/">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Bitmain Antminer S5 Review and Setup: Is it Profitable?</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Additions to <head> tags go here. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73306004-1', 'auto');
  ga('send', 'pageview');

</script>


<meta name="description" content="The most in depth review of the Bitmain Antminer S5. Learn about its pros, cons, profitability, and more!" />




<style type="text/css">
	    
	    @font-face {
  font-family: 'Proxima';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/proximanova-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-light-webfont.woff2") format("woff2"), url("/fonts/proximanova-light-webfont.woff") format("woff"), url("/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/fonts/proximanova-light-webfont.svg#svgproximanova-light-webfont") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/proximanova-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("/fonts/proximanova-regular-webfont.woff") format("woff"), url("/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("/fonts/proximanova-regular-webfont.svg#svgproximanova-regular-webfont") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/proximanova-semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-semibold-webfont.woff") format("woff"), url("/fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("/fonts/proximanova-semibold-webfont.svg#svgproximanova-semibold-webfont") format("svg"); }

</style>
  </head>
  <body>
  
  
    <div class="navbar navbar-inverse navbar-static-top">
  
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-toggle-wrapper visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a href="/" class="navbar-brand">Hobby Mining</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="navbar-nav nav" data-purplecoat="shiori" data-purplecoat-label="nav.html">
            <li><a href="/mining-hardware/">Hardware</a></li>
<li><a href="/bitcoin-mining-pools/">Pools</a></li>
<li><a href="/usb-bitcoin-miners/">USB</a></li>
<li><a href="/mining-profitability/">Profitability</a></li>
<li><a href="/bitcoin-cloud-mining/">Cloud Mining</a></li>
<li><a href="/bitcoin-mining-software/">Software</a></li>
          </ul>
          <ul class="navbar-nav nav navbar-right" data-purplecoat="shiori" data-purplecoat-label="nav-right.html">
            
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
          <div class="col-sm-12">
            <div class="post-header">
  <h1 class="post-title-main">Bitmain Antminer S5 Review</h1>
</div>

<div class="post-content">

The Bitmain Antminer S5 is Bitmain Tech's second newest version of its Antminer series of Bitcoin miners


	<div class="row">
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Pros</div>
	
	
	
	<li class="exchange-pro">Low cost miner, with second-hand units available for under $200</li>
	
	
	<li class="exchange-pro">Relatively low power demand of 590 Watts</li>
	
	
	<li class="exchange-pro">Good for learning and experimentation</li>
	
	
	
	</div>
	
	
	
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Cons</div>
	
	
	
	<li class="exchange-pro">Noisy (~75dB) single fan design, although mods can quieten it</li>
	
	
	<li class="exchange-pro">Spec hashrate of around 1155 GH/s is low by today’s standards</li>
	
	
	
	
	</div>
	</div>
	
	
	<a type="button" href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&pub=5574973039&toolid=10001&campid=5337910377&customid=&icep_uq=antminer+s5&icep_sellerId=&icep_ex_kw=&icep_sortBy=12&icep_catId=&icep_minPrice=&icep_maxPrice=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg" rel="nofollow" target="_blank" class="btn wallet-btn-top btn-primary"><i class="fa fa-bitcoin"></i> Buy Antminer S5</a>

		<a class="miner-img-body" href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&pub=5574973039&toolid=10001&campid=5337910377&customid=&icep_uq=antminer+s5&icep_sellerId=&icep_ex_kw=&icep_sortBy=12&icep_catId=&icep_minPrice=&icep_maxPrice=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg" rel="nofollow" target="_blank">
	<img src="/img/miners/s5.jpg" />
	</a>
	
  <h2 id="the-antminer-s5-still-relevant-to-modern-mining">The AntMiner S5: Still Relevant to Modern Mining?</h2>

<p>Bitmain released their AntMiner S5 Bitcoin miner in late 2014. At that time, it was one of the fastest and most efficient ASIC miners available, rivalled by the <a href="https://www.amazon.com/Spondoolies-Tech-Jackson-1-3-1-7TH-Bitcoin-Miner/dp/B00RC288E4">Spondoolies-Tech SP20</a>. However, the S5 has long since been surpassed by newer models.</p>

<p>As a product of a 28nm <a href="https://en.wikipedia.org/wiki/Semiconductor_device_fabrication">fabrication</a> process, the S5 can’t be reasonably expected to compete with modern 16nm or 14nm ASIC designs in terms of hashrate or power efficiency.</p>

<p><strong>Is there still a place for the venerable S5?</strong></p>

<p>If you’re a hobbyist miner on a budget, with no interest in the profitability of transmogrifying electricity into bitcoins, then the S5 is worth considering.</p>

<h2 id="power-supply">Power Supply</h2>

<p>The S5 will draw between 560 to 590 Watts at around 115 Volts. Any sufficiently-powered ATX Power Supply Unit will run the S5 without problems. That means that your old PC power supply - or someone else’s second hand one - can be easily repurposed for Bitcoin mining.</p>

<p>Note that the efficiency of power supplies is rated as gold (10% of electricity wasted), silver (20% wasted) or bronze (30% wasted). The efficiency of power supplies is a worthy topic of <a href="http://www.extremetech.com/extreme/143029-empowered-can-high-efficiency-power-supplies-cut-your-electricity-bill">investigation</a> for any aspiring Bitcoin miner; inefficient, unrated power supplies will waste electricity and create extra noise and heat. A list of PSU ratings may be found <a href="http://www.plugloadsolutions.com/80PlusPowerSupplies.aspx">here</a>.</p>

<h2 id="recommended-for-use-with-the-s5">Recommended for use with the S5:</h2>

<p>Ideally, get a PSU from the <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Delectronics&amp;field-keywords=Corsair+Enthusiast+Series+">Corsair Enthusiast Series</a> Bronze Certified PSU; either the 650 or 750 Watt model. The 650W model is available second hand for a little over $100. Corsair has a good reputation among Bitcoin miners and other tech enthusiasts for building reliable hardware. The Bronze series offers good value.</p>

<p>One thing to note is that under-clocking the S5 is difficult without a special, 9 Volt-capable PSU.</p>

<h2 id="bitcoins-per-month-profitability">Bitcoins per Month (Profitability)</h2>

<p><a href="http://www.coinwarz.com/calculators/bitcoin-mining-calculator/?h=14000.00&amp;p=1350.00&amp;pc=0.25&amp;pf=0.20&amp;d=199312067531.24300000&amp;r=12.50000000&amp;er=577.18000000&amp;hc=2100.00">CoinWarz’ Bitcoin mining calculator</a> is helpful for calculating the profitability of any Bitcoin miner, based on relevant data. Be sure to run your own calculations, using your local power rate, preferred mining pool and the price at which you intend to buy your S5.</p>

<p>The CoinWarz site will automatically fill in the current <strong>BTC-USD price</strong>, <strong>Difficulty</strong> and <strong>Block Reward</strong>. Note that in July 2016, the Block Reward will halve to 12.5 BTC for every block solved. In order to see any bitcoins from a single S5, you will need to join a <strong>Pool</strong>. The odds of solo-mining a block with a single or even several S5s are virtually zero.</p>

<p><img alt="antminer s5 review" src="/img/s5/s5-prof.png" /></p>

<p><em>The post-halving</em> Reward<em>, relatively expensive</em> Power <em>and AntPool’s</em> <a href="https://en.bitcoin.it/wiki/Comparison_of_mining_pools"><strong>Pool Fees</strong></a> <em>are entered,<br />
along with the current Bitcoin price and all the relevant stats of the AntMiner S5.</em></p>

<p>The results are, as expected, highly unprofitable:</p>

<p><img src="/img/s5/s5-prof-dates.png" /></p>

<p><em>Red bracketed numbers indicate negative returns.</em></p>

<p>Even if Bitcoin price were to double to a new all-time high around $1400, the returns would remain negative. However, if you’re able to bring your electricity costs below 10c per KWh, you could just about break even at the current price of ~$700. So, given a much higher Bitcoin price, cheap power, stable Difficulty and perhaps modifications to improve efficiency, profiting from a new or used S5 is <em>not impossible</em>…</p>

<h2 id="power-efficiency">Power Efficiency</h2>

<p>The S5 will produce 1 Gigahash for every 0.51 Watts it consumes. This figure can be expressed as <strong>0.51 J/GH.</strong> The S5’s real power consumption, as measured by your electric bill, will vary depending on your PSU’s efficiency and the ambient temperature.</p>

<p>0.51 J/GH is a lot more efficient than the S3 (0.78 J/GH) but a lot less efficient than the more expensive <a href="/bitmain-antminer-s7/">AntMiner S7</a> (0.25 J/GH) or S9 (0.098 J/GH) models. Traditionally, each new BitMain miner series doubles efficiency.</p>

<p>It’s possible to upgrade the S5’s hashrate, primarily by increasing its frequency (aka overclocking) but this increases the miner’s power and cooling requirements. There are ways, ranging from simple to extreme, to manage the overclocking burdens. Gains of up to ~400 GH/s are achievable but require serious effort. <a href="https://www.youtube.com/watch?v=ufDfnwc15RQ">This video</a> demonstrates oil immersion cooling.</p>

<h2 id="price">Price</h2>

<p>Used AntMiner S5s are available on <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&amp;pub=5574973039&amp;toolid=10001&amp;campid=5337910377&amp;customid=&amp;icep_uq=antminer+s5&amp;icep_sellerId=&amp;icep_ex_kw=&amp;icep_sortBy=12&amp;icep_catId=&amp;icep_minPrice=&amp;icep_maxPrice=&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg">eBay</a> and <a href="https://www.amazon.com/gp/offer-listing/B00RCTIY4G/ref=dp_olp_all_mbc?ie=UTF8&amp;condition=all">Amazon</a> in a price range between $190 and $299; most ship from America. New S5s ship from <a href="https://www.bitmaintech.com/productDetail.htm?pid=00020141222080420665NM851L7d060D">Bitmain</a> in China for $413, although there may be a waiting period before stock becomes available.</p>

<p>Remember to factor in shipping costs and possible customs duties.</p>

<h2 id="casing">Casing</h2>

<p>The S5 is open at the top and bottom and the sides are constructed of fairly lightweight plastic. This limits the placement of the unit and somewhat reduces its safety. One upside of the plastic casing is that the unit only weight 2.5 kg. / 6.5 lbs.</p>

<h2 id="noise">Noise</h2>

<p>The noise from a stock S5’s 120mm fan has been compared to an industrial vacuum. It’s definitely an unsuitable device to run in your living environment; it’ll drown out conversation and irritate people or pets.</p>

<p>The only solution is to replace the stock ~75 decibel fan with a quieter kind. Often a secondary fan is added to the back-end, where screw holes exist for this purpose.</p>

<h2 id="setup">Setup</h2>

<p>The S5 will automatically search out an available IP address to use and features an intuitive control panel. The MinerLink software will allow you to monitor the status of your miner(s), easily configure your mining pool settings, upgrade the device’s firmware and share access privileges to the miner over a network connection.</p>

<p><img src="/img/s5/minerlink.png" /></p>

<p><em>The MinerLink interface.</em></p>

<h2 id="temperature">Temperature</h2>

<p>Onboard temperature must be maintained below 80^C / 175^F. Keeping the onboard temperature below 60^C / 140^F will prolong the lifetime of the S5. As with all miners, the lower the operating temperature, the higher they can be overclocked.</p>

<h2 id="verdict">Verdict</h2>

<p>The S5 is unlikely to ever turn a profit, so it’s hard to justify the cost of buying one new. That said, a cheap, second-hand S5 in decent condition is a great tool for learning the ropes of Bitcoin mining. It represents a low-cost introduction to the complex business of Bitcoin mining.</p>

<p>The S5 is also a good platform to experiment with hardware, firmware and software tweaks and mods. At roughly one tenth the price of the cutting-edge <a href="/bitmain-antminer-s9/">Antminer S9</a>, the S5 is cheap enough to try potentially damaging operations like over/under-clocking and immersion cooling.</p>

  
  	<a type="button" href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=9&pub=5574973039&toolid=10001&campid=5337910377&customid=&icep_uq=antminer+s5&icep_sellerId=&icep_ex_kw=&icep_sortBy=12&icep_catId=&icep_minPrice=&icep_maxPrice=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg" rel="nofollow" target="_blank" class="btn wallet-btn-top btn-primary"><i class="fa fa-bitcoin"></i> Buy Antminer S5</a>

<h2>More Mining Hardware</h2>

<div class="more-miner-wrap">






<div class="more-miners">
<a href="/bitmain-antminer-s7/">
	<img src="/img/miners/s7.jpg" alt="antminer-s7.md">   
	Antminer S7
</a>
</div>



<div class="more-miners">
<a href="/bitmain-antminer-s9/">
	<img src="/img/miners/s9.jpg" alt="antminer-s9.md">   
	Antminer S9
</a>
</div>





<div class="more-miners">
<a href="/avalon6/">
	<img src="/img/miners/avalon6.jpg" alt="avalon6.md">   
	Avalon6
</a>
</div>



































<div class="more-miners">
<a href="/spondoolies-sp20/">
	<img src="/img/miners/sp20.jpg" alt="sp20.md">   
	SP20 Jackson
</a>
</div>






</div>
  
</div>
          </div>
        
      </div>
      <div class="row footer">
        <div class="col-sm-12 text-center">
          <a href="/contact/">Contact</a>
&nbsp; &nbsp;
<a href="/disclaimer/">Disclaimer</a>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/purplecoat-min.js"></script>
    <!-- Place your <script> tags here. -->

<!-- Example: Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </body>
</html>
